name: Deploy to Laragon

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - run: flutter pub get
      - run: flutter build web

      - name: Deploy to Laragon
        run: |
            rm -rf E:\Project\laragon\www\hello-flutter
            mkdir E:\Project\laragon\www\hello-flutter
            cp -r build\web\* E:\Project\laragon\www\hello-flutter\ 
